{% extends "base.html" %}

{% block content %}
<h2>Bienvenido, {{ session['usuario_nombre'] }}</h2>
<p>Aquí puedes ver tus registros de entrada y salida:</p>

<table class="table">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Hora Entrada</th>
            <th>Hora Salida</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for jornada in jornadas %}
        <tr>
            <td>{{ jornada[2] }}</td>
            <td>{{ jornada[3] }}</td>
            <td>{{ jornada[4] or "No registrado" }}</td>
            <td>
                {% if not jornada[4] %}
                    <form action="{{ url_for('salida', jornada_id=jornada[0]) }}" method="POST">
                        <button type="submit" class="btn-primary">Registrar Salida</button>
                    </form>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
