{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2>Mensajes</h2>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-messages">
                {% for category, message in messages %}
                    <div class="flash-message {{ category }}">
                        <strong>{{ message }}</strong>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    <br>
    <a href="{{ url_for('index') }}" class="btn-primary">Volver al inicio</a>
</div>
{% endblock %}
